@font-face {
  font-family: 'wdb_bangnaregular';
  src: url("../fonts/wdb_bangna-webfont.eot");
  src: url("../fonts/wdb_bangna-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/wdb_bangna-webfont.woff2") format("woff2"), url("../fonts/wdb_bangna-webfont.woff") format("woff"), url("../fonts/wdb_bangna-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: 'wdb_bangnaregular',Arial,sans-serif;
  font-size: 16px;
  color: #333;
}

.top-naver {
  height: 30px;
  color: #fff;
}
