// Variables
// ----------
// font-path
$font-path: "../fonts/";

// Color
$main-color: #0c3e7d !default;
$main-color_hover: #fff !default;
$second-color: #333 !default
$second-color_hover: #fff !default;

